html, body {
  background-color: #558a86;
  color: #fff;
}

.btn {
  background-color: #a63e14;
  border-radius: 5px;
  border: 0;
  color: #fff;
}

.btn:hover {
  background-color: #f54123;
  color: #fff;
}

input {
  border-radius: 15px;
}
